<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Example App</title>
</head>

<body style="color: black">
    {{!-- <h2><u>{{{subject}}}</u></h2> --}}
    {{{bodys}}}
   

    {{!-- <div dangerouslySetInnerHTML={{bodys}} />  --}}
</body>

</html>
